body{
  background-color: grey;
  font-family:math;
  font-size: 25px;
}

.bilde {
  max-width: 90%;
  width: 800px;
  margin: 50px auto 0 auto;
  display: block;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: transform 0.3s ease;
}

h1{
  margin-top: 150px;
  text-align: center;
  color: #400400;
}

p{
  font-size: 70px;
  text-align: center;
  margin-top: 100px;
}


#forrigeKnapp,
#nesteKnapp {
  font-size: 1.4em;
  text-align: center;
  padding: 12px 24px;
  background-color: #400400;
  color: #000000;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 10px;
}

